USE [ValVer]
GO
/****** Object:  StoredProcedure [dbo].[spSetDataMarkingsValVerDB]    Script Date: 5/11/2017 7:58:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[spSetDataMarkingsValVerDB]
AS
	-- Summary:
	-- Query is based on Linh Tang's Excel file that is driving the program discussions.
	-- See Joseph Freelong for a copy of that file
	-- We are using the CH-SE=SU IN THAT SPREADSHEET TO DRIVE WHAT DMs ARE MARKED AS GPR HERE

-- Revisions
-- Date..............Description....................Name
-- 08-19-2015       Initial creation               Roger Jerrell
-- 05-10-2017		Revised the sp to reflect new rules for data markings.
exec sp_updatestats


-- This query defaults every data module to OMIT
BEGIN 
	UPDATE [dbo].[DataModules]
	SET [DataMarkingID] = 1
END
---- This query assigns the dms listed in the WHERE clause to GPR
-- Per Christian ellerbee in April 2017, this entire category of GPR goes away!! All these are now unlimited
--UPDATE [dbo].[DataModules]
--SET [DataMarkingID] = 2
--FROM [ValVer].[dbo].[DataModules] AS dm
--  RIGHT JOIN [ValVer].[dbo].[Manuals] as m ON
--		m.[ID] = dm.[ManualID]
--	where m.Name = 'TC'
--	AND (
--		dm.[FileName] like ('DMC-1KC46-A-05-05-01%') OR
--		dm.[FileName] like ('DMC-1KC46-A-05-05-02%') OR
--		dm.[FileName] like ('DMC-1KC46-A-05-05-03%') OR
--		dm.[FileName] like ('DMC-1KC46-A-05-05-04%') OR
--		dm.[FileName] like ('DMC-1KC46-A-05-05-05%') OR
--		dm.[FileName] like ('DMC-1KC46-A-05-05-06%')
--		)
--UPDATE [dbo].[DataModules]
--SET [DataMarkingID] = 2
--FROM [ValVer].[dbo].[DataModules] AS dm
--  RIGHT JOIN [ValVer].[dbo].[Manuals] as m ON
--		m.[ID] = dm.[ManualID]
--	where m.Name = 'AMM'
--	AND (
--		dm.[FileName] like ('DMC-1KC46-A-99-11-00%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-00%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-00%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-00%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-01%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-02%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-03%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-03%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-03%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-04%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-04%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-11-07%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-21-00%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-21-00%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-21-00%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-21-00%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-21-01%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-21-02%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-21-03%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-21-04%') OR
--		dm.[FileName] like ('DMC-1KC46-A-99-21-05%')
--	)
	
-- This query defaults every data module to UNLIMITED

BEGIN
	UPDATE [dbo].[DataModules]
	SET [DataMarkingID] = 3
	FROM [ValVer].[dbo].[DataModules] AS dm
	  RIGHT JOIN [ValVer].[dbo].[Manuals] as m ON
			m.[ID] = dm.[ManualID]
		--where m.Name = 'ACS' OR m.Name = 'LOAPS' OR m.Name = 'SPCC' OR m.Name = 'WUC' OR m.Name = 'ABDR' OR m.Name = 'TC'
		where m.Name IN('ACS','LOAPS','SPCC','WUC','ABDR','TC') 
END
BEGIN
	UPDATE [dbo].[DataModules]
	SET [DataMarkingID] = 3
	FROM [ValVer].[dbo].[DataModules] AS dm
	  RIGHT JOIN [ValVer].[dbo].[Manuals] as m ON
			m.[ID] = dm.[ManualID]
		where m.Name = 'AMM'
		AND (
		dm.[FileName] like ('DMC-1KC46-A-05-05-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-05-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-05-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-05-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-05-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-05-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-05-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-05-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-05-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-41-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-51-63%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-51-64%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-51-65%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-51-66%') OR
		dm.[FileName] like ('DMC-1KC46-A-05-51-70%') OR
		dm.[FileName] like ('DMC-1KC46-A-06-26-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-06-48-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-11-27-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-11-39-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-12-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-12-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-12-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-12-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-13-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-15-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-15-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-15-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-15-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-15-14%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-15-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-15-17%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-21-42%') OR
		dm.[FileName] like ('DMC-1KC46-A-12-21-43%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-58-34%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-58-37%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-21-59-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-11-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-11-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-11-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-11-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-11-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-16-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-16-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-16-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-16-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-16-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-16-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-16-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-21-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-25-31%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-27-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-27-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-27-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-27-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-27-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-28-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-29-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-29-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-29-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-29-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-29-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-29-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-29-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-29-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-42-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-42-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-42-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-42-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-53-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-53-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-53-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-53-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-53-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-53-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-57-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-57-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-57-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-57-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-57-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-57-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-99-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-23-99-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-09-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-09-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-21-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-24-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-24-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-24-17%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-24-18%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-24-19%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-57-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-57-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-57-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-57-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-59-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-91-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-91-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-91-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-91-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-91-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-92-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-92-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-25-92-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-26-16-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-26-16-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-26-16-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-26-26-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-13-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-13-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-13-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-13-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-13-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-13-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-14%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-17%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-18%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-19%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-20%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-20%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-22%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-23%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-24%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-14-25%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-21-14%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-41-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-41-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-41-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-18%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-51-19%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-14%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-19%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-53-23%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-54-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-59-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-59-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-59-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-59-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-60-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-60-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-60-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-14%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-17%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-20%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-20%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-22%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-23%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-25%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-27%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-28%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-29%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-30%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-31%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-61-32%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-63-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-63-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-63-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-63-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-64-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-64-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-64-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-64-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-64-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-64-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-65-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-65-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-65-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-70-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-70-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-70-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-14%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-17%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-18%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-71-19%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-73-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-73-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-73-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-73-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-73-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-73-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-73-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-74-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-74-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-74-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-74-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-75-14%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-78-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-78-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-78-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-78-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-78-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-78-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-78-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-78-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-78-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-79-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-14%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-17%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-18%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-19%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-20%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-22%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-23%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-24%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-81-25%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-17%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-18%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-19%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-20%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-22%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-23%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-24%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-25%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-26%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-27%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-28%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-29%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-29%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-30%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-31%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-32%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-33%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-34%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-35%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-36%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-37%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-38%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-39%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-41%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-42%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-43%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-44%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-45%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-46%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-47%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-48%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-48%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-49%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-50%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-51%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-52%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-53%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-54%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-55%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-56%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-57%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-58%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-59%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-60%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-61%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-62%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-63%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-66%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-87-67%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-88-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-88-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-91-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-91-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-91-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-91-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-91-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-91-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-91-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-91-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-91-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-92-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-92-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-92-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-92-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-92-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-93-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-93-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-93-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-93-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-93-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-93-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-93-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-95-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-95-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-95-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-95-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-99-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-28-99-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-29-11-71%') OR
		dm.[FileName] like ('DMC-1KC46-A-29-11-78%') OR
		dm.[FileName] like ('DMC-1KC46-A-29-11-79%') OR
		dm.[FileName] like ('DMC-1KC46-A-29-11-80%') OR
		dm.[FileName] like ('DMC-1KC46-A-30-71-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-30-71-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-31-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-31-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-31-18%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-31-19%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-31-20%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-31-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-31-22%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-33-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-33-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-31-64-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-32-09-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-32-31-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-32-35-18%') OR
		dm.[FileName] like ('DMC-1KC46-A-32-41-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-32-46-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-32-46-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-32-46-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-21-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-21-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-21-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-21-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-23-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-24-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-24-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-44-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-46-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-46-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-46-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-46-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-46-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-46-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-46-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-46-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-46-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-47-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-47-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-48-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-48-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-48-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-48-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-48-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-48-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-48-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-33-48-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-24-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-24-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-26-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-26-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-26-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-26-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-26-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-26-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-26-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-26-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-26-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-26-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-44-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-44-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-44-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-44-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-44-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-44-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-52-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-52-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-52-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-52-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-52-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-52-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-52-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-54-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-54-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-54-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-54-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-54-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-54-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-54-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-54-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-56-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-56-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-56-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-56-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-56-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-56-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-56-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-60-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-61-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-61-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-61-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-61-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-61-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-61-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-99-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-34-99-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-11-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-11-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-11-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-11-50%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-12-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-22-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-22-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-22-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-22-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-22-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-22-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-22-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-35-22-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-11-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-11-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-11-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-11-17%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-11-18%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-11-19%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-14-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-14-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-16-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-16-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-38-16-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-45-00-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-45-11-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-45-11-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-13-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-13-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-13-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-13-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-14%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-22%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-25%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-26%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-21-27%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-22-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-22-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-22-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-22-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-46-22-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-00-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-00-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-00-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-00-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-00-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-11-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-11-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-11-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-11-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-11-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-11-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-20-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-22%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-24%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-31%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-31%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-31%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-21-32%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-30-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-31-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-32-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-40-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-42-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-42-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-42-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-42-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-42-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-42-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-42-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-42-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-47-42-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-13%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-15%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-16%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-25%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-31%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-32%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-33%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-12-34%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-08%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-10%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-20%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-22%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-24%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-24%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-32-25%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-48-17%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-48-18%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-48-19%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-48-20%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-48-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-48-22%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-49-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-52-71-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-53-01-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-53-66-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-53-66-09%') OR
		dm.[FileName] like ('DMC-1KC46-A-53-66-11%') OR
		dm.[FileName] like ('DMC-1KC46-A-53-66-12%') OR
		dm.[FileName] like ('DMC-1KC46-A-57-28-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-57-51-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-73-21-21%') OR
		dm.[FileName] like ('DMC-1KC46-A-73-34-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-05%') OR
		dm.[FileName] like ('DMC-1KC46-A-78-12-06%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-11-07%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-21-00%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-21-01%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-21-02%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-21-03%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-21-04%') OR
		dm.[FileName] like ('DMC-1KC46-A-99-21-05%')
		)

	UPDATE [dbo].[DataModules]
	SET [DataMarkingID] = 3
	FROM [ValVer].[dbo].[DataModules] AS dm
	  RIGHT JOIN [ValVer].[dbo].[Manuals] as m ON
			m.[ID] = dm.[ManualID]
		where m.Name = 'IPB'
		AND (
		dm.[FileName] like ('DMC-1KC46-A-11-20-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-21-26%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-30-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-39-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-39-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-39-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-39-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-39-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-39-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-39-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-11-39-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-09%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-10%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-57-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-59-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-59-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-59-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-59-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-59-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-59-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-21-59-06%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-11-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-11-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-11-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-11-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-11-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-11-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-11-06%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-16-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-25-10%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-27-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-27-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-27-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-27-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-27-11%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-27-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-28-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-28-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-28-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-28-06%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-28-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-28-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-29-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-29-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-29-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-29-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-29-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-29-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-53-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-53-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-53-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-23-57-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-13-08%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-13-08%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-13-09%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-13-11%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-13-11%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-13-11%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-18%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-18%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-18%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-18%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-18%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-18%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-18%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-18%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-19%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-19%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-19%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-19%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-20%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-20%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-20%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-53%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-14-55%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-21-13%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-21-14%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-41-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-41-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-41-10%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-41-10%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-41-10%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-41-53%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-51-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-08%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-09%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-11%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-14%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-16%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-16%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-16%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-18%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-19%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-19%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-21%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-22%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-24%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-50%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-53-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-54-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-54-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-54-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-54-06%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-54-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-54-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-59-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-59-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-08%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-12%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-12%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-12%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-13%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-22%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-26%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-26%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-27%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-27%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-27%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-28%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-30%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-31%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-62-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-63-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-63-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-63-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-63-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-63-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-64-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-64-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-65-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-70-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-70-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-70-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-08%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-09%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-12%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-14%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-15%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-18%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-71-53%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-73-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-73-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-73-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-73-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-73-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-73-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-73-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-73-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-73-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-74-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-75-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-75-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-75-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-75-06%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-75-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-75-08%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-74-11%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-74-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-77-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-77-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-77-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-78-53%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-79-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-79-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-79-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-11%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-13%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-14%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-16%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-20%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-20%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-21%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-22%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-23%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-25%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-26%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-27%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-31%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-32%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-33%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-37%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-40%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-45%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-81-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-87-67%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-91-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-91-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-91-09%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-91-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-91-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-91-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-92-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-92-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-93-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-28-93-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-29-11-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-29-11-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-29-11-16%') OR
	dm.[FileName] like ('DMC-1KC46-A-29-11-78%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-05%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-06%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-06%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-09%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-11%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-46-11%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-47-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-48-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-48-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-48-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-48-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-48-09%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-48-09%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-48-09%') OR
	dm.[FileName] like ('DMC-1KC46-A-33-48-10%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-26-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-26-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-26-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-44-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-52-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-54-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-54-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-54-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-56-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-56-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-56-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-56-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-56-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-56-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-61-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-34-61-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-12-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-12-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-12-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-12-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-12-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-12-10%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-12-13%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-12-15%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-12-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-50%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-35-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-00-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-13-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-13-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-13-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-21-11%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-21-13%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-21-14%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-21-15%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-21-16%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-21-21%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-21-22%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-21-25%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-46-22-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-11-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-11-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-11-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-11-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-11-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-11-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-42%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-42%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-42%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-40-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-42-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-42-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-42-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-42-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-42-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-47-42-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-52-48-20%') OR
	dm.[FileName] like ('DMC-1KC46-A-52-48-20%') OR
	dm.[FileName] like ('DMC-1KC46-A-52-48-22%') OR
	dm.[FileName] like ('DMC-1KC46-A-52-48-52%') OR
	dm.[FileName] like ('DMC-1KC46-A-52-49-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-53-66-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-53-66-03%') OR
	dm.[FileName] like ('DMC-1KC46-A-53-66-12%') OR
	dm.[FileName] like ('DMC-1KC46-A-53-66-53%') OR
	dm.[FileName] like ('DMC-1KC46-A-53-66-55%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-11-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-11-01%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-11-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-11-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-11-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-11-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-11-07%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-11-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-11-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-11-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-00%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-02%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-04%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-51%') OR
	dm.[FileName] like ('DMC-1KC46-A-99-21-51%')

	)
END